.element__heart-button {
  background-image: url('../../../images/heart.svg');
  width: 22px;
  height: 19px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  align-self: center;
}

.element__heart-button:active {
  background-image: url('../../../images/heart-active.svg');
  width: 22px;
  height: 19px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  align-self: center;
}
